@using System.Security.Claims
@using EasyRank.Web.Extensions
@using Microsoft.AspNetCore.Identity
@inject UserManager<EasyRankUser> UserManager
@model RankPageViewModelExtended
@{
	this.ViewData["Title"] = this.Model.RankingTitle;
}

<style>
	.card {
		width: 80%;
		margin-bottom: 70px;
		margin-left: auto;
		margin-right: auto;
	}

	.comment {
		display: flex;
		gap: 10px;
		align-items: flex-start;
	}

	.columnedFlex {
		display: flex;
		flex-direction: column;
	}

	.author-avatar-empty,
	.author-avatar {
		width: 40px;
		height: 40px;
		object-fit: cover;
		border-radius: 30px;
	}

	.author-avatar-empty {
		min-height: 40px;
		min-width: 40px;
	}

	p {
		word-break: break-word;
		white-space: normal;
		margin-bottom: 8px;
	}

	.actions-flex {
		display: flex;
		flex-direction: row;
		margin-bottom: 8px;
	}

	.action-button:hover {
		color: white !important;
	}

	.like-button {
		position: fixed;
		bottom: 20px;
		right: 20px;
		z-index: 5;
	}
</style>

<h1 class="text-center mb-1">@this.Model.RankingTitle</h1>
<h2 class="text-center mb-3">By @this.Model.CreatedByUserName</h2>

@foreach (RankEntryViewModel entry in this.Model.Entries)
{
	<div class="card border-secondary">
		@if (entry.Image != null)
		{
			<img src="data:image/*; base64, @Convert.ToBase64String(entry.Image!)" class="card-img-top" alt="@entry.ImageAlt" style="object-fit: cover; width: 100%; height: 350px">
		}
		else
		{
			<img src="" class="card-img-top" alt="@entry.ImageAlt" style="object-fit: cover; width: 100%; height: 350px">
		}
		<div class="card-body">
			<h3 class="card-title">#@entry.Placement<br/>@entry.Title</h3>
			<p class="card-text">@entry.Description</p>
			@if (this.Model.CreatedByUserName == this.User.FindFirstValue(ClaimTypes.Name))
			{
				<a asp-controller="Entry" asp-action="Edit" asp-route-rankId="@this.Model.Id" asp-route-entryId="@entry.Id" class="card-link">Edit Entry</a>
				<span class="text-primary mx-3">|</span>
				<a asp-controller="Entry" asp-action="Delete" asp-route-rankId="@this.Model.Id" asp-route-entryId="@entry.Id" class="card-link">Delete Entry</a>
			}
		</div>
	</div>
}

@if (this.Model.CreatedByUserName == this.User.FindFirstValue(ClaimTypes.Name))
{
	<div class="d-flex justify-content-center mb-3">
		<a asp-controller="Entry" asp-action="Create" asp-route-rankId="@this.Model.Id" class="btn btn-secondary mx-2 action-button">Create New Entry</a>
		<a asp-action="Edit" asp-route-rankId="@this.Model.Id" class="btn btn-secondary mx-2 action-button">Edit Page</a>
		<a asp-action="Delete" asp-route-rankId="@this.Model.Id" class="btn btn-secondary mx-2 action-button">Delete Page</a>
	</div>
}

<h3 class="mb-3">Comments</h3>

@if (this.User.Identity!.IsAuthenticated)
{
	<form asp-controller="Comment" asp-action="Create" asp-route-rankId="@this.Model.Id">
		@await this.Html.PartialAsync("_CommentBuiltInFormPartial", new CommentFormModel())
		@if (this.TempData.ContainsKey("Error"))
		{
			<span class="text-danger">@this.TempData["Error"]</span>
		}
		<button type="submit" class="w-100 btn btn-lg btn-primary my-3">Send</button>
	</form>
}
else
{
	<div class="col-12">
		<textarea class="form-control" rows="2" placeholder="Enter comment here..." disabled style="cursor: not-allowed;"></textarea>
		<span class="text-danger"></span>
	</div>
	<a asp-controller="Account" asp-action="Login" style="display: inline-block;" class="text-warning mb-3">Log-In to post comments!</a>
}

@if (!this.Model.Comments.Any())
{
	<h4>None! Be the first one to comment!</h4>
}
else
{
	foreach (CommentViewModel comment in this.Model.Comments)
	{
		<div class="comment">
			@if (comment.ProfilePicture != null)
			{
				<img class="author-avatar" src="data:image/*; base64, @Convert.ToBase64String(comment.ProfilePicture!)" />
			}
			else
			{
				<div class="author-avatar-empty"></div>
			}
			<div class="columnedFlex">
				@if (await this.UserManager.IsInRoleAsync(
							await this.UserManager.FindByNameAsync(comment.Username),
						"Administrator")
						&& comment.Username == this.Model.CreatedByUserName)
				{
					<h6 class="text-warning">@comment.Username <b>(Admin)</b> <b>(Author)</b> &#x2022; @comment.PostedOn</h6>
				}
				else if (await this.UserManager.IsInRoleAsync(
							await this.UserManager.FindByNameAsync(comment.Username),
						"Administrator"))
				{
					<h6 class="text-warning">@comment.Username <b>(Admin)</b> &#x2022; @comment.PostedOn</h6>
				}
				else if (comment.Username == this.Model.CreatedByUserName)
				{
					<h6 class="text-secondary">@comment.Username <b>(Author)</b> &#x2022; @comment.PostedOn</h6>
				}
				else
				{
					<h6 class="text-success">@comment.Username &#x2022; @comment.PostedOn</h6>
				}
				@if (comment.IsEdited)
				{
					<p>@comment.Content <span class="text-muted">(Edited)</span></p>
				}
				else
				{
					<p>@comment.Content</p>
				}
				<div class="actions-flex">
					@if (comment.Username == this.User.FindFirstValue(ClaimTypes.Name))
					{
						<a class="text-warning" asp-controller="Comment" asp-action="Edit" asp-route-commentId="@comment.Id">Edit</a>
					}
					@if (comment.Username == this.User.FindFirstValue(ClaimTypes.Name)
					     && this.Model.CreatedByUserName == this.User.FindFirstValue(ClaimTypes.Name))
					{
						<span class="text-primary mx-3">|</span>
					}
					@if (this.Model.CreatedByUserName == this.User.FindFirstValue(ClaimTypes.Name))
					{
						<a class="text-warning" asp-controller="Comment" asp-action="Delete" asp-route-commentId="@comment.Id">Delete</a>
					}
				</div>
			</div>
		</div>
	}
}

@if (this.User.Identity.IsAuthenticated)
{
	<form asp-action="LikeRank" asp-route-rankId="@this.Model.Id">
		@if (this.Model.LikedBy.Contains(this.User.Id()))
		{
			<button type="submit" class="like-button btn btn-primary p-2">❤️ I Like!</button>
		}
		else
		{
			<button type="submit" class="like-button btn btn-warning p-2">❤️ I Like!</button>
		}
	</form>
}