@using EasyRank.Web.Areas.Admin.Models
@model ICollection<RankEntryViewModelExtended>
@{
	this.ViewData["Title"] = "All Entries";
}

<h3 class="mb-3">@this.ViewData["Title"]</h3>
<div class="row">
	<div class="table-responsive">
		<table class="table table-hover table-striped table-dark">
			<thead>
				<tr class="table-primary">
					<th scope="col">Placement</th>
					<th scope="col">Title</th>
					<th scope="col">Image Alt</th>
					<th scope="col">Description</th>
					<th scope="col">Created By</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (RankEntryViewModelExtended rankEntry in this.Model)
				{
					<tr>
						<th scope="row">@rankEntry.Placement</th>
						<td>@rankEntry.Title</td>
						<td>@rankEntry.ImageAlt</td>
						<td>@rankEntry.Description</td>
						<td>@rankEntry.Username</td>
						<td>
							<a asp-area="" asp-controller="Rank" asp-action="ViewRanking" asp-route-rankId="@rankEntry.RankPageId">View</a>
							<span class="text-primary mx-3">|</span>
							<a asp-area=""  asp-controller="Entry" asp-action="Edit" asp-route-rankId="@rankEntry.RankPageId" asp-route-entryId="@rankEntry.Id">Edit</a>
							<span class="text-primary mx-3">|</span>
							<a asp-area="" asp-controller="Entry" asp-action="Delete" asp-route-rankId="@rankEntry.RankPageId" asp-route-entryId="@rankEntry.Id">Delete</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}