@model CommentFormModelExtended

<h2 class="text-center">@this.ViewData["Title"]</h2>
<form asp-controller="Comment" asp-action="@this.ViewData["ButtonType"]">
	@if ((string)this.ViewData["ButtonType"]! == "Edit")
	{
		<textarea asp-for="Content" class="form-control" rows="2" placeholder="Enter edited comment here..."></textarea>
		<span asp-validation-for="Content" class="text-danger"></span>
		@if (this.TempData.ContainsKey("Error"))
		{
			<span class="text-danger">@this.TempData["Error"]</span>
		}
	}
	else
	{
		<textarea asp-for="Content" class="form-control" rows="2" disabled style="cursor: not-allowed;">@this.Model.Content</textarea>
		<input type="hidden" asp-for="Content" value="@this.Model.Content" />
	}
	<input type="hidden" asp-for="Id" value="@this.Model.Id" />
	<button type="submit" class="w-100 btn btn-lg btn-primary my-3">@this.ViewData["ButtonType"]</button>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}