@*@inject SignInManager<RankPageIdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}*@
<ul class="nav nav-pills flex-column mb-3">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(this.ViewContext)" asp-controller="Manage" asp-action="Index">Profile</a></li>
	<li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(this.ViewContext)" asp-controller="Manage" asp-action="Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(this.ViewContext)" asp-controller="Manage" asp-action="ChangePassword">Password</a></li>
	@*    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>*@
	<li class="nav-item"><a class="nav-link @ManageNavPages.MyRanksNavClass(this.ViewContext)" asp-controller="Manage" asp-action="MyRanks">My Ranks</a></li>
	<li class="nav-item"><a class="nav-link @ManageNavPages.MyLikesNavClass(this.ViewContext)" asp-controller="Manage" asp-action="MyLikes">My Likes</a></li>
</ul>
