@model ICollection<RankPageViewModel>
@{
	this.Layout = "_AccountLayout";
	this.ViewData["Title"] = "My Likes";
	this.ViewData["ActivePage"] = ManageNavPages.MyLikes;
}

<h3 class="mb-3">@this.ViewData["Title"]</h3>
<div class="row">
	<div class="col-md">
		<table class="table table-hover table-striped table-dark">
			<thead>
			<tr class="table-primary">
				<th scope="col">Title</th>
				<th scope="col">Created On</th>
				<th scope="col">Likes</th>
				<th scope="col">Comments</th>
				<th scope="col">Actions</th>
			</tr>
			</thead>
			<tbody>
			@foreach (RankPageViewModel rankPage in this.Model)
			{
				<tr>
					<th scope="row">@rankPage.RankingTitle</th>
					<td>@rankPage.CreatedOn</td>
					<td>@rankPage.LikeCount</td>
					<td>@rankPage.CommentCount</td>
					<td>
						<a asp-area="" asp-controller="Rank" asp-action="ViewRanking" asp-route-rankId="@rankPage.Id">View</a>
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}